In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("shoe_sales.csv")
df.tail(10)

         date   brand  sold_qty
50  9/26/2023    Nike      19.0
51  9/26/2023  Adidas       9.0
52  9/27/2023    Nike      22.0
53  9/27/2023  Adidas      13.0
54  9/28/2023    Nike      21.0
55  9/28/2023  Adidas      15.0
56  9/29/2023    Nike      17.0
57  9/29/2023  Adidas       8.0
58  9/30/2023    Nike      18.0
59  9/30/2023  Adidas      16.0

In [6]:
df.describe()

         sold_qty
count   58.000000
mean    27.482759
std     88.519844
min      7.000000
25%     12.250000
50%     16.000000
75%     19.750000
max    689.000000